name: Monorepo CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        component: ['server', 'client']

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.16.1'
      - name: Get npm cache directory
        id: npm-cache
        run: echo "::set-output name=dir::$(npm config get cache)"
      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: ${{ steps.npm-cache.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci --workspace=${{ matrix.component }}

      - name: Lint code
        run: npm run lint --workspace=${{ matrix.component }}

      - name: Execute tests cases
        run: npm run test:coverage --workspace=${{ matrix.component }}

      - name: Build
        run: npm run -s build --workspace=${{ matrix.component }}
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: Grimowsky/react-node-ts-monorepo
          file: ${{ matrix.component }}/coverage/lcov.info
